.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header .photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  z-index: 20;
  
}

.header .title {
  text-align: center;
  font-family: "Neue Machina", sans-serif;
}

.informations {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.informations p {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  margin: 0.5rem;
}

.informations p::before {
  display: inline-block;
  content: "";
  width: 1rem;
  height: 1rem;
  background-size: contain;
  background-repeat: no-repeat;
  object-fit: cover;
}

.informations .job::before {
  background-image: url(../img/icons/icon-job.svg);
}

.informations .location::before {
  background-image: url(../img/icons/icon-location.svg);
}

.informations .email::before {
  background-image: url(../img/icons/icon-email.svg);
}

.informations .phone::before {
  background-image: url(../img/icons/icon-phone.svg);
}





